* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f3f3f3;
  color: black;
  min-height: 100vh;
  padding: 0;
}

/* Dashboard Container Layout */
.dashboard-wrapper {
  width: 950px;
  margin-left: 100px;
  margin-right: 0;
  padding: 50px 0;
  background: #f3f3f3;
}

.dashboard-header {
  margin-bottom: 28px; /* title --> card */
}

.dashboard-header h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 28px;
  font-weight: 750;
  color: #0f172a;
  margin: 0;
}

.dashboard-header p {
  color: #64748b;
  font-size: 15px;
}

.budget-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  max-width: 950px;
}

/*Budget Card Sector*/
.budget-card {
  background: #cce0ff;
  border-radius: 16px;
  padding: 20px;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce0ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 270px;
}

.budget-card,
.create-card {
  height: 270px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;
}

.card-top h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 23px;
  font-weight: 700;
  color: #141414;
}

.action-menu button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #0a0a0a;
  margin-left: 12px;
  transition: color 0.2s;
}

.text-muted {
  color: #141414;
}

.text-danger {
  color: #ef4444;
}

.card-top button:hover {
  opacity: 0.8;
}

.card-note {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #414444;
  margin-bottom: 24px;
  line-height: 1.5;
}

.amount-section {
  margin-top: auto;
}

.amount-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 4px;
}

.amount-row h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 800;
}

.text-success {
  color: #10b981;
}

.text-warning {
  color: #f59e0b;
}

.text-error {
  color: #ef4444;
}

.status-label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #10367d;
  margin-right: auto;
  margin-left: 8px;
  text-transform: lowercase;
}

.total-budget {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #686d6d;
  margin-bottom: 12px;
}

.progress-container {
  width: 100%;
  height: 25px;
  background-color: #f1f5f9;
  border-radius: 0px;
  overflow: hidden;
  margin-bottom: 14px;
}

.progress-bar {
  height: 100%;
  border-radius: 0px;
  transition: width 0.3s ease;
}

.bg-success {
  background-color: #10b981;
}

.bg-warning {
  background-color: #f59e0b;
}

.bg-error {
  background-color: #ef4444;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #3d3c3c;
  font-weight: 500;
}

.alert-badge {
  color: #f59e0b;
  font-weight: 600;
}

/*Create Card Sector*/
.create-card {
  background: #cce0ff;
  border: 1px solid #cce0ff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-card p {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  color: #141414;
  margin-bottom: 20px;
  padding: 0 10px;
}

.btn-create-trigger {
  background-color: #10367d;
  color: white;
  border: none;

  min-width: 204px; /* adjust until it matches */
  padding: 10px 24px; /* Same size as Record Transaction */

  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px; /* Same font size as Record Transaction */
  font-weight: bold; /* Same font weight as Record Transaction */

  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(13, 202, 240, 0.2);
  transition: all 0.2s;
}

.btn-create-trigger:hover {
  background-color: #1749a7;
  transform: translateY(-1px);
}

.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(15, 23, 42, 0.4);
  display: none !important;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
}

.custom-modal.show {
  display: flex !important;
}

.custom-modal .modal-content {
  background: white;
  border-radius: 17px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  position: relative;
  animation: slideUp 0.3s ease-out;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 12px;
}

.modal-header h2 {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 21px;
  color: #10367d;
  font-weight: 700;
}

.close-btn {
  position: absolute;
  top: -2px;
  right: 0px;
  background: none;
  border: none;
  font-size: 24px;
  color: #171718;
  cursor: pointer;
}

.close-btn:hover {
  color: rgb(245, 54, 54);
}

/*Form Sector*/
#budgetModal .form-group {
  margin-bottom: 6px;
}

#budgetModal .form-group label {
  display: block;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  color: #0f0f0f;
  margin-bottom: 2px;
  font-weight: bold;
}

#budgetModal .form-control {
  width: 100%;
  height: 32px;
  padding: 0 10px;
  border: 1px solid #282929;
  border-radius: 7px;
  font-size: 14px;
  color: #141414;
  outline: none;
  background-color: #ffffff;
  box-sizing: border-box;
}

.form-control:focus {
  border-color: #10367d;
}

/* Not to confuse with add record modal*/
#budgetModal .amount-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

#budgetModal .amount-wrapper input {
  text-align: left;
  padding-left: 10px;
  padding-right: 70px;
  font-weight: bold;
}

#budgetModal .currency-addon {
  position: absolute;
  right: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #111111;
}

#budgetModal .period-group {
  display: flex;
  gap: 8px;
  background: #f1f5f9;

  height: 32px;
  padding: 0;
  border-radius: 7%;
}

#budgetModal .period-btn {
  flex: 1;
  padding: 0;
  border: none;
  background: transparent;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 600;
  color: #0a0a0a;
  cursor: pointer;
  transition: all 0.2s;
}

#budgetModal .period-btn.active {
  background: #10367d;
  color: white;
}

#budgetEndDate[readonly] {
  background-color: #f1f5f9;
  color: #6c757d;
  cursor: not-allowed;
  border-style: groove;
}

.notify-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}

.notify-label {
  font-size: 14px;
  font-weight: 600;
  color: #121213;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e2e8f0;
  transition: 0.3s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #10367d;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

#budgetModal .btn-group {
  display: flex;
  justify-content: center;
  gap: 12px;

  margin-top: 96px; /* cancel | Create button position*/
  margin-bottom: 20px;
}

#budgetModal .btn {
  flex: 1;
  padding: 0;
  width: 150px;
  height: 36px;
  border-radius: 7px;

  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.2s;
}

#budgetModal .btn-cancel {
  background: transparent;
  border: 1px solid #10367d;
  color: #10367d;
}

#budgetModal .btn-cancel:hover {
  background: white;
  border-color: #10367d;
  color: #10367d;
}

.btn-submit {
  background: #10367d;
  color: white;
}

.btn-submit:hover {
  background-color: #0b2554;
}

/* Delete Confirmation Dialog */
.delete-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

/* Delete Specific Modal */
.delete-box {
  background: white;
  width: 420px;
  padding: 25px;
  border-radius: 16px;
  text-align: center;
}

.delete-icon {
  font-size: 28px;
  color: white;
  padding: 10px;
  background: #ff0000;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-box h2 {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 24px;
  margin-top: 2px;
}

.delete-box p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: black;
}

.delete-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.cancel-btn {
  width: 120px;
  height: 42px;
  border-radius: 10px;
  border: 1px solid #999;
  background: white;
  cursor: pointer;

  font-family: Georgia, "Times New Roman", serif;
  font-size: 16px;
}

.confirm-btn {
  width: 120px;
  height: 42px;
  border-radius: 10px;
  border: none;
  background: #ff3131;
  color: white;
  cursor: pointer;

  font-family: Georgia, "Times New Roman", serif;
  font-size: 16px;
  font-weight: bold;
}

/*Card Border Noti Sector*/
.border-normal {
  border: 2px solid #40f558 !important;
}

.border-warning {
  border: 2px solid #ff9933 !important;
  box-shadow: 0 4px 20px #ff9933 !important;
}

.border-danger {
  border: 2px solid #ef4444 !important;
  box-shadow: 0 4px 20px #ef4444 !important;
}

/*Edit Pen icon*/
.action-menu .fa-pen-to-square {
  color: rgb(63, 104, 218) !important;
}

.action-menu button:hover .fa-pen-to-square {
  color: #6154d8;
}

/*Card Delete Sector*/
.action-menu .fa-trash-can {
  color: #e45252 !important;
}

.action-menu button:hover .fa-trash-can {
  color: #750413;
}

/*Remove the auto up-down btn at amount in form*/
.main {
  background: #f3f3f3;
}

#budgetAmount::-webkit-outer-spin-button,
#budgetAmount::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Budget form validation messages - compact like Record modal */
#budgetModal .field-error {
  min-height: 11px; /*height: 0;*/
  line-height: 11px;
  color: #d93025;
  font-size: 10px;
  font-weight: 600;
  font-family: Georgia, "Times New Roman", serif;
  visibility: hidden;
  margin: 0;
  position: relative;
  top: 2px;
  z-index: 2;
}

#budgetModal .field-error.show {
  visibility: visible;
}

#budgetModal .input-error {
  border: 2px solid black !important;
}

/* STANDARD DELETE POPUP FONT */
#deleteModal,
#deleteModal h2,
#deleteModal p,
#deleteModal button {
  font-family: Georgia, "Times New Roman", serif;
}
