{% extends "navbar.html" %} {% block content %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/common_pages.css') }}"
/>

<div class="category-page">
  <div class="page-content">
    <h1 class="category-title">Income Categories</h1>

    <div class="category-card">
      <div class="category-grid">
        {% for category in income_categories %}
        <div class="category-item">
          <div class="icon-circle">{{ category.ctg_icon }}</div>

          <p class="category-name">{{ category.ctg_name }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="page-content">
    <h1 class="category-title">Expense Categories</h1>

    <div class="category-card">
      <div class="category-grid">
        {% for category in expense_categories %}
        <div class="category-item">
          <div class="icon-circle">{{ category.ctg_icon }}</div>

          <p class="category-name">{{ category.ctg_name }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
